<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/motorcycles/style.css" />
<%- include('./partials/nav') %>

<main class="homepage">
  <section class="home">
  <h1>Welcome, <%= user ? user.profile.name : "Motorcycle lovers!" %></h1>
    <div>
      <p>Want to share and see what type of motorcycles people like?</p>
      <p>Login and start adding motorcycles!</p>
      <p>Don't forget to leave Reviews on what you think about peoples favorite motorcycle!</p>
    </div>
  </section>
</main>

<%- include('./partials/footer') %>
