<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/motorcycles/style.css" />
<%- include('./partials/nav') %>

<main class="homepage">
  <h1>Welcome, <%= user ? user.profile.name : "Motorcycle lovers!" %></h1>
  <section>
    <div>
      <h3>Want to share and see what type of motorcycles people like?</h3>
      <h3>Login and start adding your favorite motorcycles!</h3>
    </div>
  </section>
</main>

<%- include('./partials/footer') %>
