<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/motorcycles/style.css" />
<%- include('./partials/nav') %>

<main class="homepage">
  <h1>Welcome, <%= user ? user.profile.name : "Motorcycle lover!" %></h1>
  <p></p>
    <div>
      <img id="homepic" src="/public/images/motorcycleheader.jpeg" alt="">
    </div>
</main>

<%- include('./partials/footer') %>
