html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background: url("../images/motorcycleheader.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(53, 0, 4);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}


nav {
  background-color: rgb(53, 0, 4);
  font-size: 16px;
  display: flex;
  justify-content: center;
}


main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 18px;
}

label {
  font-weight: bold;
}

section {
  padding: 50px;
}

a {
  color: rgb(255, 136, 0);
}

pre {
  font-size: 14px;
}

nav > a {
  margin: 10px 30px;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 16px 0;
  color: rgb(226, 101, 43);
  background-color: white;
}

.link {
  padding: 10px 0;
  font-size: 18px;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}

#favicon {
  background: url("/public/images/favicon/android-chrome-192x192.png");
}