/* All Motorcycle Page */
.all-page {
    color: white;
    background: url('/images/motorcycle-17.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%
}

h1 {
    color: rgb(255, 145, 0);
    text-shadow: 0px 4px 4px rgb(0, 0, 0);
}

.card {
    display: flex;
    width: 300px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    padding: 10px;
}

.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    max-width: 1600px;
}

.card-body {
    margin: 5px;
    text-align: center;
}