/* Details Page */

.details-page {
    display: flex;
    grid-gap: 30px;
    font-size: 20px;
    text-align: center;
    background: url('/images/motopicforadd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%
}


.details-input {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 10px;
    color: black;
    padding: 10px;
}

table {
    text-align: center;
}

.reviews {
    color: rgb(255, 136, 0);
    text-shadow: 0px 2px 2px rgb(53, 0, 4);
    text-align: center;
}

h1 {
    text-shadow: 0px 2px 2px rgb(53, 0, 4);
}

div {
    color: rgb(255, 136, 0);
    text-align: center;
    text-shadow: 0px 2px 2px rgb(53, 0, 4);
}






