<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>All Motorcycles</h1>
  <% if (user) { %>
    <h2>Add a Motorcycle!</h2>
    <form action="/motorcycles" method="POST">
      <label for="">
        Name:
        <input type="text" name="name" autocomplete="off">
      </label>
      <button type="submit">Add Motorcycle</button>
    </form>
  <% } %>
</section>

<%- include('../partials/footer') %>
