<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/motorcycles/new.css">
<%- include("../partials/nav") %> 

<main id="add-page">
  <h1><%= title %></h1>
  <section>
  <div id="form-img"></div>
    <div id="form-card">
      <form id="new-form" action="/motorcycles" method="POST">
        <label for="make-input">Make:</label>
        <input type="text" name="make" id="make-input" autocomplete="off">
        <label for="model-input">Model:</label>
        <input type="text" name="model" id="model-input" autocomplete="off">
        <label for="mspr-input">MSPR:</label>
        <input type="text" name="mspr" id="mspr-input" autocomplete="off">
        <label for="horsepower-input">Horsepower:</label>
        <input type="text" name="horsepower" id="horsepower-input" autocomplete="off">
        <button type="submit">Add Motorcycle</button>
      </form>
    </div>
  </section>
</main>

<%- include("../partials/footer") %>  